@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* =========================
   PALETA H-STORE / UNITEL
   ========================= */

/* MODO CLARO */
:root {
    --color-primary: #f7941e;
    --color-primary-light: #f7941ecb;
    /* Laranja principal */
    --color-primary-strong: #FF7A00;
    /* Laranja mais vibrante */
    --color-secondary: #4B1E78;
    /* Azul corporativo */

    --color-gray: #f0f0f0;
    --color-green: #5acc02;
    --color-gray-light: #CFCFCF;

    --color-text: #1B2B4C;
    --color-bg: #FFFFFF;
}

* {
    box-sizing: border-box;
}
/* MODO ESCURO
.dark,
[data-theme="dark"] {
    --color-primary: #FF7A00;
    --color-primary-strong: #F36F21;
    --color-brand-blue: #E6E9F5;

    --color-gray: #A0A0A0;
    --color-gray-light: #5A5A5A;

    --color-text: #FFFFFF;
    --color-bg: #0F172A;
}

/* OPCIONAL (ativação automática por sistema) 
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #FF7A00;
        --color-primary-strong: #F36F21;
        --color-brand-blue: #E6E9F5;

        --color-gray: #A0A0A0;
        --color-gray-light: #5A5A5A;

        --color-text: #FFFFFF;
        --color-bg: #0F172A;
    }
} */